.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 2rem;
	min-height: 100vh;
	scale: 0.9;
}
.container::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url("../../../../public/images/logo.png") no-repeat center center;
	background-size: clamp(100px, 60vw, 950px);
	opacity: 0.2;
	pointer-events: none;
	background-size: 900px;
	background-position: center center center;
	z-index: -2;
}
.Admin_options {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: 2rem;
	text-align: center;
	flex-direction: column;
}
.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.header span {
	font-size: 1.5rem;
	font-weight: 600;
	color: var(--text);
	position: relative;
	padding-bottom: 0.8rem;
}
.header span:first-child:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50px;
	height: 4px;
	background-color: var(--primary);
	border-radius: 2px;
}
.header span:last-child {
	font-size: 1rem;
	color: var(--text-secondary);
	margin: 0 0 1.5rem 0;
	position: relative;
	padding-bottom: 0.8rem;
}
.sub_header {
	font-size: 1rem;
	color: var(--text-secondary);
	margin: 0 0 1.5rem 0;
	position: relative;
	padding-bottom: 0.8rem;
}
.option {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: 2rem;
	width: 300px;
	height: 10px;
	border-radius: 15px;
	transition: background-color 0.3s ease-in-out 0s,
		transform 0.2s ease-in-out 0s, color 0.3s ease-in-out 0s;
	cursor: pointer;
	border: 1px solid var(--border);
	background-color: var(--surface);
	color: var(--text);
}
.option:hover {
	background-color: var(--primary);
	transform: translateY(-20px);
	color: white;
}
@media (max-width: 768px) {
	.Admin_options {
		flex-direction: column;
	}
	.header span {
		font-size: 1rem;
	}
	.header span:last-child {
		font-size: 0.8rem;
	}
	.header {
		gap: 1rem;
	}
}
@media (max-width: 480px) {
	.header span {
		font-size: 0.8rem;
	}
	.header span:last-child {
		font-size: 0.6rem;
	}
}
